<mat-stepper linear [orientation]="(stepperOrientation | async)!">

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos de la compra</ng-template>

        <div class="row">

          <mat-form-field appearance="fill">
            <mat-label>-- Servicio --</mat-label>
            <mat-select formControlName="servicioCtrl" required>
              <mat-option *ngFor="let servicio of servicios" [value]="servicio.value">
                {{servicio.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>-- Plan --</mat-label>
            <mat-select formControlName="planCtrl" required>
              <mat-option *ngFor="let plan of planes" [value]="plan.value">
                {{plan.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>      

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Pago</ng-template>
      
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>-- Metodo de Pago --</mat-label>
            <mat-select formControlName="metodoCtrl" required>
              <mat-option *ngFor="let metodo of metodos" [value]="metodo.value">
                {{metodo.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Capital Inicial</mat-label>
            <span matPrefix>$ &nbsp;</span>
            <input matInput formControlName="capitalCtrl" type="number" placeholder="100" min="100" max="10000" required>
            <span matSuffix>.00</span>
        </mat-form-field>
       </div>

        <div class="fileDiv">
          <label for="formFile" class="form-label">Subir comprobante de pago</label>
          <input class="form-control" type="file" id="formFile" multiple>
        </div>
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="validarValor($event)">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>

</mat-stepper>