mat-stepper{
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, .3);
}

mat-form-field{
    margin-left: 3rem;
}

.fileInput{
    text-transform: uppercase;
}

.row{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.row mat-form-field{
    width: 30%;
}

.fileDiv{
    width: 75%;
    margin: 1rem auto;
}