<div class="container-fluid">
    <img src="../../../assets/logo-con-nombre.png" alt="Soluciones Cripto" class="img-fluid logo-con-nombre">
    <div class="contenedor-formulario">

        <div class="formulario">

                <div>
                    <h1>Retirar</h1>
                </div>

            <form (ngSubmit)="enviarFormulario()" method="post">
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Servicio</mat-label>
                        <mat-select [formControl]="servicioFormControl">
                          <mat-option *ngFor="let servicio of servicios" [value]="servicio">{{servicio.viewValue}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="servicioFormControl.hasError('required')">
                            Servicio es <strong>necesario</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Cuenta</mat-label>
                        <mat-select [formControl]="cuentaFormControl">
                            <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta">{{cuenta.viewValue}}</mat-option>
                        </mat-select> 
                        <mat-error *ngIf="cuentaFormControl.hasError('required')">
                           Cuenta a Retirar es <strong>necesaria</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <mat-form-field appearance="fill">
                    <mat-label>Depositar a:</mat-label>
                    <mat-select [formControl]="depositarFormControl">
                        <mat-option *ngFor="let deposito of depositos" [value]="deposito">{{deposito.viewValue}}</mat-option>
                    </mat-select>                    
                    <mat-error *ngIf="depositarFormControl.hasError('required')">
                        Deposito a depositar <strong>necesaria</strong>
                    </mat-error>
                </mat-form-field>
                
                <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label>Monto</mat-label>
                        <input matInput type="number" min="10" max="10000" required [formControl]="montoFormControl">
                        <mat-error *ngIf="montoFormControl.hasError('required')">
                            Monto <strong>necesario</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Concepto</mat-label>
                        <textarea matInput placeholder="Retiro por..."></textarea>
                    </mat-form-field>
                </div>

                <p style="margin-bottom: 0; font-size: .7rem;">Subir comprobante de pago:</p>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="comprobante" required>
                </div>

                <div class="row">
                    <div class="btnGroup">
                        <button type="button" class="btn btn-secondary" [routerLink]="['/panel']" >Cancelar</button>
                        <button type="submit" class="btn btn-primary">Retirar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="bloque-ingreso"></div>