
    <div class="centrar">
        <div class="titulo-contenedor">
            <h1 class="titulo-cabecera">Grid</h1>
        </div>
    </div>
    <div class="centrar">
        <div class="marco">
            <h2>Grid</h2>
            <div class="btnGroup-table">
                <button class="btn btn-secondary btnDepositar" [routerLink]="['/depositar']">Depositar</button>
                <button class="btn btn-primary btnRetirar" [routerLink]="['/retirar']">Retirar</button>
            </div>
            <app-grid-table></app-grid-table>
        </div>
    </div>
