<div class="container-fluid">
    <img src="../../../assets/logo-con-nombre.png" alt="Soluciones Cripto" class="img-fluid logo-con-nombre">
    <div class="contenedor-formulario">
        <div class="formulario">
            <h1>Ingresar</h1>

              <mat-form-field appearance="standard">
                <mat-label>Usuario</mat-label>
                <input matInput>
              </mat-form-field>

              <mat-form-field appearance="standard">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password">
              </mat-form-field>
              
              <div class="btnGroup">
                <button type="button" class="btn btn-secondary">Registrarse</button>
                <button type="button" class="btn btn-primary" (click)="iniciarSesion()">Ingresar</button>
              </div>
              
        </div>
    </div>
</div>