
/*SideNav*/
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    background: rgb(236,236,236);
  }
  
  .contenido-sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mat-drawer-container{
    background: none;
  }

  .cuadro{
    background: rgb(245,245,245);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    height: 15vh;
    -webkit-transform: skew(1deg, -10deg);
    width: 99.5%;
  }

  .cuadro img{
    height: 6rem;
  }

  .sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 72vh;
    padding: 2rem 0;
  }

  .sidenav a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;    
    background-color: rgba(245, 244, 244, 0.596);
    padding: 1rem 0;
    height: 1rem;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }

  .sidenav a:hover{
    background-color: rgba(204, 204, 204, 0.9);
  }


  .sidenav a:last-child{
    margin-top:auto
  }

/*End SideNav*/

