<div class="container">
  <ng-container>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened class="example-sidenav contenido-sidenav"
      [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom">
      <div class="cuadro"><img src="../assets/logo.png" alt=""></div>
  
        <nav class="sidenav">
          <a href="">Principal</a>
          <a href="">Staking</a>
          <a href="">Grid</a>
          <a href="">Cripto Bolso</a>
          <a href="">Bonos / Referidos</a>
          <a href="">Plan de Carrera</a>
          <a href="">Inversores</a>
          <a href="">Cerrar Sesion</a>
        </nav>
  
      </mat-sidenav>
  
  
      
      <button mat-button (click)="sidenav.toggle(); toggleSidenav()" style="color: #000;">
        <mat-icon *ngIf="isSidenavOpen">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="!isSidenavOpen">keyboard_arrow_left</mat-icon>
      </button>
      
    </mat-sidenav-container>
  
  </ng-container>
</div>

