<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpen" class="example-sidenav contenido-sidenav"
    [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
    [fixedBottomGap]="options.value.bottom">
    
      <div class="cuadro"><img src="../assets/logo.png" alt=""></div>

      <nav class="sidenav">
        <a [routerLink]="['/panel']" (click)="sidenav.toggle(); toggleSidenav()">Principal</a>
        <a [routerLink]="['/staking']" (click)="sidenav.toggle(); toggleSidenav()">Staking</a>
        <a [routerLink]="['/grid']" (click)="sidenav.toggle(); toggleSidenav()">Grid</a>
        <a [routerLink]="['/cripto-bolso']" (click)="sidenav.toggle(); toggleSidenav()">Cripto Bolso</a>
        <a [routerLink]="['/bonos']" (click)="sidenav.toggle(); toggleSidenav()">Bonos</a>
        <a [routerLink]="['/referidos']" (click)="sidenav.toggle(); toggleSidenav()">Referidos</a>

        <a [routerLink]="['/perfil']" (click)="sidenav.toggle(); toggleSidenav()">Perfil</a>
        <a (click)="cerrarSesion()">Cerrar Sesión</a>
      </nav>

    </mat-sidenav>

    
    <mat-sidenav-content>
      <p style="float: left;" class="sticky-top">
        <button mat-button (click)="sidenav.toggle(); toggleSidenav()" style="color: #000;">
          <mat-icon *ngIf="!isSidenavOpen">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="isSidenavOpen">keyboard_arrow_left</mat-icon>
        </button>
      </p>
    </mat-sidenav-content>
    
  </mat-sidenav-container>