.plan-de-carrera {
    width: 80%; 
}

.plan-de-carrera .row .col{
    background-color: gray;
    border: 1px solid #fff;
}

.stakingNav{
    background-color: #AFD1A0;
    border: 1px solid #70AD47;
    color: #385723;
}

.gridNav{
    background-color: #D8E2F3;
    color: #4472C4;
    border: 1px solid #B4C7E7;
}

.cripto-bolsoNav{
    background-color: #FBE4D4;
    color: #EF975B;
    border: 1px solid #F8CBAD;
}

.referidosNav{
    background-color: #FFF2CC;
    color: #7F6000;
    border: 1px solid #FFD966;
}

.marco{
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, .5);
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
    width: 95%;
    text-align: center;
}

@media only screen and (min-width:768px){
    .marco{
        width: 75%;
    }
}

app-comprar{
    margin: 5rem;
}