<div class="container-fluid">

    <div class="centrar">
        <div class="titulo-contenedor">
            <h1 class="titulo-cabecera">Panel General</h1>
        </div>
    </div>

    <div class="centrar">
      <div class="text-center plan-de-carrera">
          <div class="row">
            <div class="col" [ngStyle]="{'background-color': listo ? '#92c5fc' : 'gray'}" >
              Plan-450
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
          </div>
      </div>
    </div>

    <div class="centrar">

      <div class="menu-principal">
  
          <div class="row">
            <div class="col-12 col-md stakingNav botonPrincipal">
              <span>Staking</span>
              <button class="btn btn-primary btnComprar" (click)="comprar()">Comprar</button>
              <img src="../../../assets/staking.png" alt="">
            </div>
            <div class="col-12 col-md gridNav botonPrincipal">
              <span>Grid</span>
              <button class="btn btn-primary btnComprar">Comprar</button>
              <img src="../../../assets/grid.png" alt="">
            </div>
          </div>
    
          <div class="row">
            <div class="col-12 col-md  cripto-bolsoNav botonPrincipal">
              <span>Cripto Bolso</span>
              <button class="btn btn-primary btnComprar">Comprar</button>
              <img src="../../../assets/cripto-bolso.png" alt="">
            </div>
            <div class="col-12 col-md  referidosNav botonPrincipal">
              <span>Referidos</span>
              <button class="btn btn-primary btnComprar">Comprar</button>
              <img src="../../../assets/referidos.png" alt="">
            </div>
          </div>
    
      </div>
    </div>

    <app-comprar *ngIf="comprarActive"></app-comprar>

    <div class="centrar">
      <div class="marco">
        <h2>Resumen</h2>
      </div>
    </div>
    
</div>

