<div class="container-fluid">
    <div class="centrar">
        <div class="titulo-contenedor">
            <h1 class="titulo-cabecera">Bonos</h1>
        </div>
    </div>
    <div class="centrar">
        <div class="marco">
            <h1>Bonos</h1>
            <div class="btnGroup-table">
                <button class="btn btn-primary btnRetirar" [routerLink]="['/retirar']" style="width: 100%;">Retirar</button>
            </div>
            <app-bonos-table></app-bonos-table>
        </div>
    </div>
</div>
